body {
  background-color: #fdfcff;
  color: #0b0220;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  transition: background-color 0.5s, color 0.5s;
}
#theme-selector {
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  background-color: #0b0220;
  color: #fdfcff;
  cursor: pointer;
  box-shadow: 0 4px 8px rgb(47, 38, 38);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}
#theme-selector {
  opacity: 0.9;
}

/* Style dark mode (it overwrite the light mode) */
/* It applies when the body has the class dark mode */
.dark-mode {
  background-color: #0b0220;
  color: #fdfcff;
}
.dark-mode #theme-selector {
  background-color: #fdfcff;
  color: #0b0220;
  box-shadow: 0 4px 6px #7053b5;
}
