body{
    background-color: #d9c2d8;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.heart{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    height: 300px;
    margin: auto;
    object-fit: cover;
}
.heart img{
    width: 50%;
    height: 50%;
    animation-name: heart;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

/*from and to gives a more rogher beating */
/*
@keyframes heart{
    from{
        width: 150px;
        height: 150px;

    }
    to{
        width: 250px;
        height: 250px;
    }

}*/


/*This one displays a smoother beating but it cuts the top part of image*/

@keyframes heart {
  0% {
    transform: scale(1) ;
  }
  50% {
    transform: scale(1.2) ;
  }
  
  100% {
    transform: scale(1);
  }
}


/*This one gives a perfect beating heart img*/
/* @keyframes heart{
    0%{
        width: 150px;
        height: 150px;
    } 
    50%{
        width: 250px;
        height: 250px;
    }
    100%{
        width: 150px;
        height: 150px;
    }
} */

.name{
    font-size: 60px;
    font-weight: bold;
    height: 300px;
    gap: 5px;
}
.letter{
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}
.letter:hover{
    transform: rotate(30deg) scale(1.2);
    color: rgb(188, 45, 148);
}

  